examples/nrfe-tisensortag/ble_flows.json
[{"type":"tab","id":"8ffb4f55.7004b","label":"Sheet 1"},{"id":"b89ce557.476318","type":"page","z":"8ffb4f55.7004b","style":"","name":"","x":110,"y":42,"wires":[["22a42d6f.dd5bd2"]]},{"id":"22a42d6f.dd5bd2","type":"section","z":"8ffb4f55.7004b","name":"","style":"","order":"1","x":107,"y":117,"wires":[["ed4293e6.12bd7","1945de7d.e6ba22","e9c66dca.16399","afdb5e3b.5024a"]]},{"id":"ed4293e6.12bd7","type":"button","z":"8ffb4f55.7004b","name":"OK","events":"click","x":138,"y":179,"wires":[["82499899.7db668"]]},{"id":"82499899.7db668","type":"blescan","z":"8ffb4f55.7004b","name":"BLE Scan","x":139,"y":248,"wires":[["1945de7d.e6ba22"]]},{"id":"1945de7d.e6ba22","type":"picklist","z":"8ffb4f55.7004b","name":"picklist","picklist":"name,address","idproperty":"address","style":"","x":324,"y":245,"wires":[["52d1fc53.ad2e04"]]},{"id":"dd7ee759.228118","type":"blecharacteristics","z":"8ffb4f55.7004b","name":"BLE Characteristics","x":603,"y":380,"wires":[["62c2fe71.9d3d"]]},{"id":"a7177102.58e89","type":"fefunction","z":"8ffb4f55.7004b","name":"split","func":"if(msg.payload)\n{\n    msg.payload.services.forEach(function(s)\n    {\n        this.out({payload:s})\n    }.bind(this))\n}","outputs":1,"noerr":0,"x":428,"y":320,"wires":[["e9c66dca.16399"]]},{"id":"52d1fc53.ad2e04","type":"bleservices","z":"8ffb4f55.7004b","name":"BLE Services","x":272,"y":323,"wires":[["a7177102.58e89"]]},{"id":"e9c66dca.16399","type":"picklist","z":"8ffb4f55.7004b","name":"picklist","picklist":"handle,uuid","idproperty":"handle","style":"","x":482,"y":244,"wires":[["dd7ee759.228118"]]},{"id":"62c2fe71.9d3d","type":"fefunction","z":"8ffb4f55.7004b","name":"Split","func":"if(msg.payload)\n{\n    msg.payload.characteristics.forEach(function(s)\n    {\n        this.out({payload:s})\n    }.bind(this))\n}","outputs":1,"noerr":0,"x":638,"y":244,"wires":[["afdb5e3b.5024a"]]},{"id":"afdb5e3b.5024a","type":"picklist","z":"8ffb4f55.7004b","name":"picklist","picklist":"handle,permissions,properties,writeType","idproperty":"uuid","style":"","x":453,"y":123,"wires":[["f240376d.0dbfc8"]]},{"id":"f240376d.0dbfc8","type":"blereadcharacteristic","z":"8ffb4f55.7004b","name":"BLE Read Characteristic","x":664,"y":121,"wires":[["cc4f577b.33b0a8"]]},{"id":"cc4f577b.33b0a8","type":"fefunction","z":"8ffb4f55.7004b","name":"","func":"dump(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":843,"y":241,"wires":[[]]}]