examples/nrfe-tisensortag/flows.json
[{"type":"tab","id":"60efd3b0.9f102c","label":"Sheet 1"},{"type":"tab","id":"5edadb99.a12524","label":"Sheet 2"},{"id":"7349ebf0.8cb614","type":"page","z":"60efd3b0.9f102c","style":"background-color:#f1f4e7","name":"Page","x":300,"y":102,"wires":[["867d4366.7982c","f61ca4e1.09e358"]]},{"id":"867d4366.7982c","type":"section","z":"60efd3b0.9f102c","name":"","style":"","order":"1","x":189,"y":202,"wires":[["306698a9.cf9968","3d698a3.fc29676"]]},{"id":"3d698a3.fc29676","type":"button","z":"60efd3b0.9f102c","name":"Scan","events":"click","x":295,"y":320,"wires":[["4f5ada61.b0a524","123eec0a.edc114"]]},{"id":"306698a9.cf9968","type":"image","z":"60efd3b0.9f102c","image":"https://s-media-cache-ak0.pinimg.com/736x/ae/bf/cf/aebfcf921bc31087614e80cd9d6246f1.jpg","style":"width:100%","x":133,"y":319,"wires":[[]]},{"id":"4f5ada61.b0a524","type":"fefunction","z":"60efd3b0.9f102c","name":"Toggle scan/stop scan","func":"var text = msg.payload.srcElement.innerHTML == 'Scan' ? 'Stop Scan' : 'Scan'\nreturn {payload: text};","outputs":1,"noerr":0,"x":324,"y":396,"wires":[["3d698a3.fc29676"]]},{"id":"f61ca4e1.09e358","type":"section","z":"60efd3b0.9f102c","name":"","style":"","order":"1","x":384,"y":198,"wires":[["9ccfa111.63306","3ea7fcfb.c15804","c0e64dce.3f19b","d8105833.27efa8"]]},{"id":"9ccfa111.63306","type":"fetemplate","z":"60efd3b0.9f102c","name":"Error Template","events":"click","template":"Error: {{error}}","x":777,"y":113,"wires":[[]]},{"id":"3ea7fcfb.c15804","type":"fetemplate","z":"60efd3b0.9f102c","name":"Status Template","events":"click","template":"Status: {{status}}","x":777,"y":178,"wires":[[]]},{"id":"c0e64dce.3f19b","type":"fetemplate","z":"60efd3b0.9f102c","name":"Accel Template","events":"click","template":"Accelerometer: {{accelerometer}}","x":770,"y":240,"wires":[[]]},{"id":"d8105833.27efa8","type":"fetemplate","z":"60efd3b0.9f102c","name":"Temp Template","events":"click","template":"Temperature: {{temperature}}","x":770,"y":307,"wires":[[]]},{"id":"123eec0a.edc114","type":"tisensor","z":"60efd3b0.9f102c","name":"TI SensorTag","sensortype":"CC2541","connectdirect":true,"temperature":true,"humidity":false,"barometer":false,"accelerometer":true,"magnetometer":false,"gyroscope":false,"keypress":false,"pollinterval":"500","x":546,"y":329,"wires":[["9ccfa111.63306","3ea7fcfb.c15804","c0e64dce.3f19b","d8105833.27efa8"]]}]