examples/nrfe-hello-world/flows.json
[{"type":"tab","id":"60efd3b0.9f102c","label":"Sheet 1"},{"type":"tab","id":"5edadb99.a12524","label":"Sheet 2"},{"id":"7349ebf0.8cb614","type":"page","z":"60efd3b0.9f102c","style":"background-color:#f1f4e7","name":"Page","x":300,"y":102,"wires":[["867d4366.7982c","176d89ee.e89276","c5e7e830.3a1818"]]},{"id":"867d4366.7982c","type":"section","z":"60efd3b0.9f102c","name":"","style":"","order":"1","x":189,"y":202,"wires":[["306698a9.cf9968","3d698a3.fc29676","18959197.e76a6e"]]},{"id":"176d89ee.e89276","type":"section","z":"60efd3b0.9f102c","name":"","style":"","order":"2","x":475,"y":140,"wires":[["4d45b33.fb2ba4c"]]},{"id":"3d698a3.fc29676","type":"button","z":"60efd3b0.9f102c","name":"Scan","events":"click","x":295,"y":320,"wires":[["4f5ada61.b0a524","64b5bb06.9b4a44"]]},{"id":"306698a9.cf9968","type":"image","z":"60efd3b0.9f102c","image":"https://s-media-cache-ak0.pinimg.com/736x/ae/bf/cf/aebfcf921bc31087614e80cd9d6246f1.jpg","style":"width:100%","x":133,"y":319,"wires":[[]]},{"id":"4d45b33.fb2ba4c","type":"picklist","z":"60efd3b0.9f102c","name":"picklist","picklist":"name,address","idproperty":"address","style":"","x":659,"y":320,"wires":[["18959197.e76a6e","1de0f30d.e21f0d"]]},{"id":"18959197.e76a6e","type":"fetemplate","z":"60efd3b0.9f102c","name":"Template","events":"click","template":"<h4>{{name}} selected !</h4>","x":855,"y":190,"wires":[[]]},{"id":"4f5ada61.b0a524","type":"fefunction","z":"60efd3b0.9f102c","name":"Toggle scan/stop scan","func":"var text = msg.payload.srcElement.innerHTML == 'Scan' ? 'Stop Scan' : 'Scan'\nreturn {payload: text};","outputs":1,"noerr":0,"x":324,"y":396,"wires":[["3d698a3.fc29676"]]},{"id":"64b5bb06.9b4a44","type":"blescan","z":"60efd3b0.9f102c","name":"blescan","x":470,"y":322,"wires":[["4d45b33.fb2ba4c"]]},{"id":"b80916d0.47f6e8","type":"bleservices","z":"60efd3b0.9f102c","name":"bleservices","x":576,"y":458,"wires":[["40c76862.bf3898"]]},{"id":"9af59682.650a68","type":"picklist","z":"60efd3b0.9f102c","name":"picklist","picklist":"handle,uuid,properties","idproperty":"handle","style":"","x":848,"y":318,"wires":[[]]},{"id":"c5e7e830.3a1818","type":"section","z":"60efd3b0.9f102c","name":"","style":"","order":"3","x":565,"y":82,"wires":[["9af59682.650a68"]]},{"id":"1de0f30d.e21f0d","type":"bleconnect","z":"60efd3b0.9f102c","name":"BLE Connect","x":588,"y":398,"wires":[["b80916d0.47f6e8"]]},{"id":"40c76862.bf3898","type":"fefunction","z":"60efd3b0.9f102c","name":"Filter out services","func":"\nthis.out({payload:msg.payload.services});","outputs":1,"noerr":0,"x":766,"y":454,"wires":[["9af59682.650a68"]]}]